#image1 {
    height: 400px;
    width: 341px;
    border: 2px dotted black;
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ol{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}